// Tipografia
$fuente_principal: 'Montserrat', sans-serif;

// Colores
$verde:#4CB8B3;
$rosa: #F53756;
$amarillo: #e4df96;
$morado: #752F97;
$negro: #000000;
$blanco: #FFFFFF;
$color_fondo_header: radial-gradient(circle, rgba(215, 91, 144, 0.513) 0%, rgba(90, 149, 216, 0.502) 100%);
$purpura : #993bcc;
$purpura-oscuro: #c69ccb;
$lineup-bg :radial-gradient(circle, rgba(227, 114, 208, 0.513) 0%, rgba(103, 217, 243, 0.502) 100%);
$fondo-galeria :radial-gradient(circle, rgba(227, 114, 208, 0.513) 0%, rgba(103, 217, 243, 0.502) 100%);
$fondo-boletos :radial-gradient(circle, rgba(190, 149, 200, 0.513) 0%, rgba(84, 139, 151, 0.502) 100%);


// Tamaños de Media Queries
$pantallas-chicas:300px;
$telefono: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;