@use 'base/variables' as v;
@use 'base/mixins' as m;


.site-footer{
    text-align: center;
    background-image: v.$fondo-boletos;
    padding: 2rem;
    text-transform: uppercase;
    p{
        color: v.$blanco;
        margin: 0;
    }
    
}
