@use 'base/variables' as v;
@use 'base/mixins' as m;




.fondo-galeria{
    background-image: v.$fondo-galeria;
    padding: 5rem 0;
    h3{
        text-align: center;
    }
}

.galeria-imagenes{
    @include m.resetear-lista;
    // @include m.grid(2, 2rem);
    @include m.pantallas-chicas{
        @include m.grid(2, 2rem);
        
    }
    @include m.telefono{
        @include m.grid(3, 2rem);
        
    }
    @include m.tablet{
        @include m.grid(4, 2rem);
    }
    @include m.desktop{
        @include m.grid(6, 2rem);

    }
    &:hover{
        cursor: pointer;
    }
}

// esto es para que la imagen se quede fija en el contenedor
// cuando ya de click en la imagen
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    // para centrar la imagen se utiliza grid
    display: grid;
    place-items: center;
    // para la opacidad de la imagen se utiliza rgba
    // background-color: rgba(0,0,0, .5);
    // sintaxis mas moderna
    background-color: rgb(196 101 101 / 0.5);

    picture{
        display: block;
        max-width: 80rem;
        box-shadow: 0 0 1rem 0.5rem rgba(184, 32, 193, 0.7);
        border-radius: 1rem;
        

    }

   
    // el del video pero mejorado
    .btn-cerrar{
        width: 7rem;
        height: 7rem;
        border-radius: 1rem;
        background-color: v.$negro;
        font-size: 4rem;
        font-weight: 700;
        color: white;
        display: grid;
        place-items: center;
        box-shadow: 0 0 1rem 0.5rem rgba(184, 32, 193, 0.7);
        &:hover{
            cursor: pointer;
        }
        
    }

    // mi diseño 
    // .btn-cerrar{
    //     position: absolute;
    //     bottom: 0.5rem;
    //     background-color: rgb(176, 152, 152);
    //     font-size: 5rem;
    //     border-radius: 3rem;
    //     padding: 1rem 3rem;
    // }
}
