@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {
    background-image: v.$color_fondo_header;

    // para darle un poco de estilo al header cuando se haga scroll
   @include m.tablet {
    &.fijo{
        left: 0;
        top: 0;
        position: fixed;
        width: 100%;
        box-shadow: .3rem .3rem .3rem #333;
    }
    
   }


    @include m.tablet {
        &.fijo {
            left: 0;
            top: 0;
            position: fixed;
            width: 100%;
            box-shadow: .1rem .2rem .3rem #333;
        }
    }

    h1 {
        color: v.$blanco;
        text-align: center;
        @include m.tablet {
            margin: 0;
        }
        &:hover {
            background-color: v.$purpura;
            border-radius: 1rem;
        }
       &::before {
            content: '👷';        
        }

        padding: 1rem;

        
    }
    .contenido-header{
        padding: 2rem;
        @include m.tablet {
            display: flex;
            justify-content:space-between;
            align-items: center;
        }

        
    }
    
}

.navegacion_principal {
    @include m.tablet {
        display: flex;
        gap: 2rem;
    }
    a {
        display: block;
        text-align: center;
        color: v.$blanco;
        font-size: 2.4rem;
        margin-bottom: 1rem;
        @include m.tablet {
            margin: 0;
        }

        &:hover {
            background-color: v.$purpura;
            border-radius: 1rem;
            
        }
        &::before {
            content: '🌼';        
        }
        padding: 1rem;
        animation: latido 1s infinite;

    }
}
